#* @implicitly included *#
#* @vtlvariable name="build" type="me.adaptive.core.data.domain.BuildRequestEntity" *#
#* @vtlvariable name="notification" type="me.adaptive.core.data.domain.NotificationEntity" *#