#parse("/fragments/header.vm")
<h3>Oh no! What happened? Your build has failed</h3>
<p>But it died with honor.</p>

<p>What now? Logs, logs don't lie, grab yours here:</p>

<p><a href="$logUrl">$logName</a></p>

#parse("/fragments/footer.vm")
