#parse("/fragments/header.vm")
<h3>It looks like you forgot your password</h3>
<p>First of all, there's no shame on that. You can always say it was our fault, that we messed up something, it's
    OK.</p>

<p>Now that we agreed that you just forgot it and it's not a big deal, here's the link to reset:</p>

<p><a href="$forgot_password_url.value?forgotToken=$forgotToken">Just get over it</a> The link expires in 24h</p>

<p>In the weird case that it was not requested by you, just ignore. Someone else probably mistyped their email, also
    happens</p>

#parse("/fragments/footer.vm")