Thank you for registering at Adaptive.me

You will have to activate your account in the future, but for now we're just trusting you :)

Access <a href="$dashboard.url">My Adaptive</a> to start developing!

Notification `$notification.id`
