<h3>Thank you for registering at Adaptive.me</h3>

<p>You will have to activate your account in the future, but for now we're just trusting you :)</p>

<p>Access <a href="$dashboard.url">My Adaptive</a> to start developing!</p>

<p>Notification `$notification.id`</p>
